body {
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 100%;
    line-height: 1.6em;
    text-align: center;
    margin: 0 0 0 0em;
}

#container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #fffdeb;
}

#header-area {
    width: 100%;
    background-color: #ff0000;
}

#menu-area {
    width: 100%;
    background-color: #ff00ff;
}

#contents-area {
    width: 654px;
    float: left;
    margin-left: 26px;
    margin-right: 30px;
    padding-bottom: 10px;
}

#sidebar-area {
    float: left;
    width: 244px;
    background-color: #0000ff;
}

#footer-area {
    clear: left;
    width: 100%;
    background-color: #00ffff;
}

div.header {
    width: 980px;
    height: 60px;
    font-size: 2.5em;
    text-shadow: 5px 5px 1px #999999;
    padding-top: 25px;
    padding-left: 50px;
    vertical-align: top;
    background-image: url("../image/header.jpg");
    background-repeat: no-repeat;
    background-position: left center;
}

h1 {
    color: #06c;
    line-height: 24m;
    padding-left: 10px;
    border-left: 20px double #3889DF;
    border-bottom: 5px solid #3889DF;
}

h2 {
    color: #06c;
    line-height: 24m;
    padding-left: 10px;
    border-left: 10px solid #3889DF;
    border-bottom: 1px solid #ccc;
}

h3 {
    color: #06c;
    line-height: 24m;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    background-image: url("../image/square-blue.gif");
    background-repeat: no-repeat;
    background-position: left center;
}

h4 {
    color: #06c;
    line-height: 24m;
    margin-left: 10px;
    padding-left: 20px;
    background-image: url("../image/dot-blue.gif");
    background-repeat: no-repeat;
    background-position: left center;
}

table {
    border-top:1px solid #663300;
    border-left:1px solid #663300;
    border-collapse:cllapse;
    border-spacing:0;
    background-color:#ffffff;
    empty-cells:show;
}

table caption {
    caption-side: top;
    text-align: left;
    font-weight: bold;
}

table tr th {
    border-right:1px solid #000000;
    border-bottom:1px solid #000000;
    background-color: #00b6b3;
    vertical-align: top;
    text-align: left;
}

table tr td {
    border-right:1px solid #000000;
    border-bottom:1px solid #000000;
    padding:0.3em 0.3em;
    vertical-align: top;
    text-align: left;
}

ul {
    margin: 0 0 0 0;
    padding: 0;
}

ul li {
    margin-left: 0 0 0 0;
    padding-left: 15px;
    background: url("../image/arrow.gif") no-repeat 5px 8px;
}

p {
    margin:0 0 0 0em;
}

div.indent2 { 
    padding-top: 0;
    padding-left: 30px;
}


	
html>/**/body .nest,
html>/**/body .nest ol{
counter-reset:nest;
list-style-type:none;
padding-left:1em;
}
.nest li:before{
content:counters(nest, ".") ". ";
counter-increment:nest;
}


div#footer-menu {
    text-align: center;
}

div#footer-menu ul {
    display: inline;
    border-left: 1px solid #000000;
}

div#footer-menu li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #000000;
}

div.text {
    text-indent: 1em;   
}

.nowrap {
    white-space: nowrap;
}


dl dt {
    font-weight: bold;
}

dl dd{
    margin-left : 1em;
    padding-bottom: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #000000;
    padding: 4ps;
}