/* @theme marp */

@import 'default';

section {
    font-family: "Arial", "Hiragino Maru GothicProN";
    font-size: 32px;
 }

section.title {
    font-size: 36px;
    padding: 40px;
    text-align: center;
}

section.title h1 {
    color: lightgray;
    font-size: 60px;
    text-align: center;
}

section.slides h2 {
    background: linear-gradient( to left, rgba(69, 179, 224, 1) 25%, rgb(97, 109, 218) 75%);
     -webkit-background-clip: text;
    color: transparent;
    font-size: 42px;
    position: absolute;
    left: 50px;
    top: 50px;

}
